{% extends 'base.html' %}
{% block content %}

<div class="form-wrapper d-flex justify-content-center">
    <div class="form-box page-fade">

        {% if edit %}
            <h4 class="form-title">Edit Student</h4>
        {% else %}
            <h4 class="form-title">Add Student</h4>
        {% endif %}

        <p class="form-subtitle mb-3">
            {% if edit %}
                Update the student details
            {% else %}
                Enter student details
            {% endif %}
        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100 mt-2">
                {% if edit %}Update{% else %}Save{% endif %}
            </button>
        </form>
    </div>
</div>

{% endblock %}
