{% extends 'base.html' %}

{% block content %}
<div class="form-page">

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                Admin Authorization Required
            </div>
            <div class="card-body">

                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Admin Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Admin Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button class="btn btn-danger w-100">Confirm</button>
                </form>

            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
