{% extends 'base.html' %}
{% block content %}

<div class="form-wrapper d-flex justify-content-center">
    <div class="form-box page-fade">

        <h4 class="form-title">Edit Student</h4>
        <p class="form-subtitle mb-3">Modify the student details below</p>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary w-100 mt-2">Update</button>
        </form>
    </div>
</div>

{% endblock %}
