{% extends 'base.html' %}

{% block content %}
<div class="form-page">

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                Edit Student
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success w-100">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
